.todo-form {
    background-color: rgb(60, 227, 60);
    padding: 20px;
    border-radius: 5px;
}

.todo-form .form-group {
    margin-bottom: 20px; 
}

.todo-form .form-control {
    width: 100%; 
}

.todo-form button {
    width: 100%;
    margin-top: 20px;  
}

.title {
    text-align: center;
    padding: 30px;
}